.container {
    background: #fff;
    width: 40%;
    margin: auto;
}

#elemen {
    background: #222;
    color: #fff;
    padding: 10px;
}

button {
    background: blue;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}

div.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}